# This is a basic workflow to help you get started with Actions

on:
 push: 
  branches: [ master ]
 pull_request:
  branches: [ master ]
name: deploy
jobs:
 build-container:
  name: deploy to cluster
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@master
   - name: build and push to docker
     uses: docker/build-push-action@v2
   - name: build docker image
     run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)


      
